

  <!-- <div class="container-fluid justify-content-center border-bottom  text-center">
    <h1> {{titre}}</h1>
  </div> -->

  <div class="d-flex mb-3"><nav class="navbar bg-body-tertiary">
    <div class="container-fluid ">
      <a class="navbar-brand " href="#">
        <img src="assets/picture/logo-ouioui.jpg" alt="picture" width="65" height="50" class="d-inline-block align-text-top">

      </a>
      <h4 class="justify-content-center  text-center  flex-fill"> {{titre}}</h4>


    </div>

  </nav></div>

