

<div class="d-flex justify-content-center mt-3">
  <div class="card w-50 p-2">
    <form action="" [formGroup]="form"  (ngSubmit)="submit()">
      <div  class="d-flex justify-content-around mb-3">
        <label for="" class="form-label"> Adresse de départ</label>
        <input type="text" class="form-control" formControlName="start">
    </div>
    <div  class="d-flex justify-content-around mb-3">
      <label for="" class="form-label"> Adresse d'arrivée</label>
      <input type="text" class="form-control" formControlName="end">
  </div>
  <div  class="d-flex justify-content-between mb-3">
    <label for="" class="form-label"> Prix</label>
    <input type="number" class="form-control" class="w-75" formControlName="price">
</div>
<div class="text-center mt-3 mb-3">
  <button type="submit" class="btn btn-primary"> Valider</button>
</div>
    </form>
  </div>
</div>
