<div>
  <h2> Course(s) disponible(s) </h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Adresse de départ</th>
      <th scope="col">Adresse d'arrivée</th>
      <th scope="col">Prix</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trip of trips">
      <th scope="row">{{trip.id}}</th>
      <td>{{trip.addressStart}}</td>
      <td>{{trip.addressEnd}}</td>
      <td>{{trip.price}}</td>
      <td> <button type="button" class="btn btn-primary" (click)="accept(trip.id)">Accepter</button>  </td>
    </tr>
  </tbody>
</table>
